<div id="host">
  <%= form_for(@user) do |f| %>
    <%= f.text_field(:name) %>
    <%= f.submit "Host Game" %>
  <% end %>
</div>
<p>Or, if you have your game code:</p>
<div id="join">
  <%= form_for(@user) do |f| %>
    <%= f.text_field(:name) %>
    <%= f.text_field(:game) %>
    <%= f.submit "Join Game" %>
  <% end %>
</div>
